@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #24292e;
}

#title {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

svg {
    background-color: darkgray;
    border-radius: 5px;
}

#legend {
    background-color: darkgray;
    margin-top: 15px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.graph-desc {
    text-align: center;
}

#tooltip {
    visibility: hidden;
    width: auto;
    height: auto;
    background-color: darkgray;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.legend-key {
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-legend {
    height: 20px;
    width: 20px;
    border-radius: 5px;
}

.legend-desc {
    font-size: 20px;
    margin-left: 10px;
}

#red {
    background-color: maroon;
}

#green {
    background-color: forestgreen;
}